<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 fw-bold text-primary">Ennemy</h6>
    </div>

    <div class="card-body">
        <form class="row g-3">
            <div class="col-12">
                <small for="inputPreset" class="form-label">Preset</small>
                <select id="inputPreset" class="form-select" aria-label="Untyped">
                    <option selected>Untyped</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <hr>

            <div class="col-md-6 mt-0">
                <small for="inputFaction" class="form-label">Faction</small>
                <select id="inputFaction" class="form-select" aria-label="Untyped">
                    <option selected>Untyped</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-6 mt-0">
                <small for="inputBaseLevel" class="form-label">Base level</small>
                <input type="number" min="0" class="form-control" id="inputBaseLevel">
            </div>

            <div class="col-md-6">
                <small for="inputTypeArmor" class="form-label">Armor type</small>
                <select id="inputTypeArmor" class="form-select" aria-label="Untyped">
                    <option selected>Untyped</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-6">
                <small for="inputTypeHealth" class="form-label">Health type</small>
                <select id="inputTypeArmor" class="form-select" aria-label="Untyped">
                    <option selected>Untyped</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="col-md-6">
                <small for="inputBaseArmor" class="form-label">Base armor</small>
                <input type="number" min="0" class="form-control" id="inputBaseArmor">
            </div>
            <div class="col-md-6">
                <small for="inputBaseHealth" class="form-label">Base health</small>
                <input type="number" min="0" class="form-control" id="inputBaseHealth">
            </div>
        </form>
    </div>
</div>