{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 fw-bold" style="color: #5a5c69!important;">CRUD</h1>
    </div>
{% endblock %}